a:link {
     text-decoration: none;
     }
div
{
  text-align: center;
}
input
{
border-radius:4px;
 padding: 8px 16px;
 font-size:16px;
}
#first{
margin-top: 50px;
}
.button1 {
  background-color: #3498db; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 20px; /* Add padding to the button */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change the cursor on hover to indicate it's clickable */
}

.button1:hover {
  background-color: #2980b9; /* Change the background color on hover */
}

.button2 {
    width: 115px;
    height: 25px;
    background: #0066ff;
    color:white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 25px;
}
.button3 {
    width: 115px;
    height: 25px;
    background: red;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
.label {
  color: white;
  padding: 8px;
  font-family: Arial;

}
.thick{font-weight: bold;font-size: 20px;}
.done {background-color: #04AA6D;}
.pending {background-color: #ff9800;}
table, td {
  border: 1px none;
  padding: 15px;
  }
table {
  margin-left: auto;
  margin-right: auto;
}
h1
{
color:#cc0000;
}